/*Limpar as formatações padrão*/
*{
	margin: 0;
	padding: 0;
}
/**********************Conteudo***********************/
body{
	background: linear-gradient(50deg, #B18904,black);
	background-attachment: fixed;
	overflow-x: hidden;
}

.texto{
	text-align: center;
	margin: 10px;
	display: table;
	width: 100%;
	color: white;
}

/* -- Barra de navegção --*/
.img{
	height: 50px;
	width: 132px;
}

.lado-direito{
	margin-left: auto;
}

nav.navbar-transparente{
	padding: 15px 0;
	background: rgba(0, 0, 0, 0.6);
	border: none;
}

.navbar-inverse .navbar-nav>li>a, .nav a{
	color: white;
}

.navbar-inverse .navbar-nav>li>a:hover, footer .nav a:hover{
	color: #B18904;
	background: none;
}

.navbar-brand{
	padding: 5px 15px;
}

.item-rede-social{
	float: right;
	padding: 0px 5px;
}

.footer-center{
	text-align: center;
	color: #919496;
	font-size: 12px;
	padding-top: 10px;

}

.portiforio-principal {
	
	margin: 10px auto;
}

.portiforio-imagens {
	margin: auto 125px;
	height: 315px;
	width: 315px;
	border-radius: 5%;
	border: #fff 2px solid;
	transition-duration: 2s;
}

.conteudo-portifotio {
	margin: 0 125px;
	width: auto 25px;
	background-color: #000;
}

/********************Rodapé************************/
footer{
	background: #000;
	padding: 50px 0 1px 0;
	position: relative;
}

#espacamento {
margin: 15px auto;
}

#conteudo-direita {

}

#conteudo-esquerda {

}

#imagem-direita {
	border:2px solid #fff;
	border-radius: 5%;
	height:300px; 
	width: 100%; 
}

#imagem-esquerda {
	border:2px solid #fff;
	border-radius: 5%;
	height:300px; 
	width: 100%;
}


#rodape h4{
	color:#919496;
	font-size: 11px;
	text-transform: uppercase; 
}

/******************Formatação do site******************/
p{
	color: white;
}

th{
	color: white;
}

td{
	color: white;
}
li {
	font-size: 14px;
}

/*Links não visitados*/
a:link{
	color: white
}

/*Links visitados*/
a:visted{
	color: blue
}

/*Links hover*/
a:hover {
	color: blue
}

/*Links actived*/
a:active {
	color: black
}

h4 {
	color: #fff;
}